*, *:after, *:before {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.heading {
  font-size: 28px;
}
.subheading {
  margin-top: 10px;
}
.username, .btn {
  width: 240px;
}
.username {
  margin-top: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn {
  margin-top: 8px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.madeBy {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}