*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a {
  color: black;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
  text-decoration: none;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.details__username {
  font-size: 24px;
}

.details__stats {
  font-size: 16px;
  display: flex;
  margin-top: 20px;
}

.details__stats span:first-child {
    margin-right: 40px;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: section;
  padding-left: 0;
}

.repos__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 10px;
}

.repos__item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.repos__item:nth-child(odd) {
  margin-right: 10px;
} 

.repos__item:nth-child(even) {
  margin-left: 10px;
}

.repos__item__stat {
  font-size: 14px;
}

.repos__item__stat i {
  margin-right: 2px;
}

.repos__item .repos__item__stat:first-of-type {
  margin-right: 5px;
}

.repos__item__name {
  font-size: 20px;
  color: #5757e6;
  border-bottom-color: #5757e6;
  margin-bottom: 5px;
}

.repos__item__body {
  font-size: 16px;
  margin-top: 12px;
  color: #333;
}

.repos__item__list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

.repos__item__list__item {
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.repos__item__list__item a {
  border-bottom: 0;
  padding-bottom: 0;
  color: #525252;
}

/* Components */
/* List */
.list {
  list-style: none;
  counter-reset: section;
  padding-left: 0;
}

.list__item {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  line-height: 40px;
}

.list__item:before {
  counter-increment: section;
  content: "" counter(section) ". ";
  position: absolute;
  left: 0;
  top: 6px;
}

.list__item__heading {
  margin-bottom: 0;
}

.list__item__body {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
}


/* Fonts */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vcloo6');
  src:  url('../fonts/icomoon.eot?vcloo6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vcloo6') format('truetype'),
    url('../fonts/icomoon.woff?vcloo6') format('woff'),
    url('../fonts/icomoon.svg?vcloo6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-repo:before {
  content: "\e900";
}
.icon-pr:before {
  content: "\f009";
}
.icon-fork:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f02a";
}

