<!DOCTYPE html>
<html>
<head>
  <title>Show My Pr's</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
</head>
<body>
  <span class="heading">Show My PR's</span>
  <span class="subheading">See all your Open Source contributions in one place</span>
  <input class="username js-username" type="text" id="username" placeholder="Enter your Github username"/>
  <button class="btn btn-primary" onclick="showPrs()">Show My Pr's</button>
  <span class="madeBy">Made with ❤️ by <a href="https://twitter.com/geekykaran">geekykaran</a></span>
  <script type="text/javascript">
    function showPrs() {
      var username = document.querySelector('.js-username').value;
      if (username) {
        window.location = 'https://showmyprs.com/user/' + username;
      }
    }
  </script>
</body>
</html>