<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PR's - @{{ .username }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- Open Graph Start -->
  <meta property="og:title" content="showmyprs.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://showmyprs.com"/>
  <meta property="og:image" content="https://showmyprs.com/assets/favicon.png"/>
  <meta property="og:site_name" content="showmyprs.com"/>
  <meta property="og:description" content="See all your Open Source contributions in one place."/>
  <!-- Open Graph End -->

  <!-- Twitter Card Start -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@geekykaran" />
  <meta name="twitter:title" content="showmyprs.com" />
  <meta name="twitter:description" content="See all your Open Source contributions in one place." />
  <meta name="twitter:image" content="https://showmyprs.com/assets/favicon.png" />
  <!-- Twitter Card End -->

  <!-- build:css(dist) /assets/styles/user.css -->
  <link rel="stylesheet" type="text/css" href="/assets/styles/user.css">
  <!-- endbuild -->
</head>
<body>
  <div class="details">
    <a class="details__username" target="_blank" rel="noopener nofollow" href="https://github.com/{{ .username }}">@{{ .username }}</a>
    <div class="details__stats">
      <span>
        <i class="icon-repo"></i>
        Total contributed repositories: {{ .totalRepos }}
      </span>
      <span>
        <i class="icon-pr"></i>
        Total pull requests sent: {{ .totalPrs }}
      </span>
    </div>
  </div>

  <ul class="repos js-repos-list">
    {{range .allRepos }}
      <li class="repos__item">
          <div class="repos__item__header">
            <a class="repos__item__name" target="_blank" rel="noopener nofollow" href="{{ .Url }}">
              {{ .Name }}
            </a>
            <div>
              <span class="repos__item__stat">
                <i class="icon-star"></i>
                {{ .Stars }}
              </span>
              <span class="repos__item__stat">
                <i class="icon-fork"></i>
                {{ .Forks }}
              </span>
            </div>
          </div>
          <span class="repos__item__body">Pull Requests:</span>
          <ul class="repos__item__list">
            {{range .PullRequests }}
              <li class="repos__item__list__item">
                - <a target="_blank" rel="noopener nofollow" href="{{ .Url }}">
                  {{ .Title }}
                </a>
                &nbsp;[{{ .State }}]
              </li>
            {{end}}
          </ul>
      </li>
    {{end}}
  </ul>
</body>
</html>