<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PR's - @{{ .Username }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- Open Graph Start -->
  <meta property="og:title" content="showmyprs.com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://showmyprs.com"/>
  <meta property="og:image" content="https://showmyprs.com/assets/favicon.png"/>
  <meta property="og:site_name" content="showmyprs.com"/>
  <meta property="og:description" content="See all your Open Source contributions in one place."/>
  <!-- Open Graph End -->

  <!-- Twitter Card Start -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@geekykaran" />
  <meta name="twitter:title" content="showmyprs.com" />
  <meta name="twitter:description" content="See all your Open Source contributions in one place." />
  <meta name="twitter:image" content="https://showmyprs.com/assets/favicon.png" />
  <!-- Twitter Card End -->

  <!-- build:css(dist) /assets/styles/user.css -->
  <link rel="stylesheet" type="text/css" href="/assets/styles/hint.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/user.css">
  <!-- endbuild -->
</head>
<body>
  <div class="details">
    <a class="details__username" target="_blank" rel="noopener nofollow" href="https://github.com/{{ .Username }}">@{{ .Username }}</a>
    <a class="twitter-share-button" 
      data-size="large"
      href="https://twitter.com/intent/tweet"
      data-text="🚀 Woah! I have sent a total of {{ .TotalPrs }} pull requests to {{ .TotalRepos }} repositories 🔥 See your open source contributions here 🤓"
      data-url="https://showmrprs.com"
      data-related="geekykaran,tweetifyio"
    >
      Share it
    </a>
    <div class="details__stats">
      <span>
        <i class="icon-repo"></i>
        Total contributed repositories: {{ .TotalRepos }}
      </span>
      <span>
        <i class="icon-pr"></i>
        Total pull requests sent: {{ .TotalPrs }}
      </span>
      <span class="detail__stats__time">
        Last synced: <span class="hint--bottom" aria-label="{{ .LastSyncedAtStringVerbose }}">{{ .LastSyncedAtString }}</span>
      </span>
    </div>
  </div>

  <ul class="repos js-repos-list">
    {{range .AllRepos }}
      <li class="repos__item">
          <div class="repos__item__header">
            <a class="repos__item__name" target="_blank" rel="noopener nofollow" href="{{ .Url }}">
              {{ .Name }}
            </a>
            <div>
              <span class="repos__item__stat">
                <i class="icon-star"></i>
                {{ .Stars }}
              </span>
              <span class="repos__item__stat">
                <i class="icon-fork"></i>
                {{ .Forks }}
              </span>
            </div>
          </div>
          <span class="repos__item__body">Pull Requests:</span>
          <ul class="repos__item__list">
            {{range .PullRequests }}
              <li class="repos__item__list__item">
                - <a target="_blank" rel="noopener nofollow" href="{{ .Url }}">
                  {{ .Title }}
                </a>
                &nbsp;[{{ .State }}]
              </li>
            {{end}}
          </ul>
      </li>
    {{end}}
  </ul>

  <!-- Twitter Widget Script Start -->
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
  <!-- Twitter Widget Script End -->

  <!-- Google Analytics Start -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-28477787-6', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Google Analytics End -->
</body>
</html>